.app {
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #E36414;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #faf9f6;
  color: #333;
  padding: 20px;
  margin: 32px;
}

.task-list {
  margin: 20px 0;
}

.task-item {
  background-color: #faf9f6;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
  margin: 0;
}

.task-item p {
  margin: 5px 0;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #FCBF49;
}

button:hover {
  opacity: 0.8;
}

form {
  width: 60%;
  align-self: center;
}

input[type='checkbox'] {
  border-radius: 16px;
  border-color: #E36414;
  height: 24px;
  width: 24px;
  padding: 16px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  border: 1px solid #faf9f6;
  border-radius: 24px;
}

input[type="text"], input[type="password"], input[type="email"] {
  height: 40px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  border-radius: 8px;
  background-color: #D62828;
  color: #faf9f6;
  padding: 8px;
  margin: 8px;
}
